@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: red solid .5px; */
}

:root {
    font-size: 24px;
    --a: hsl(172, 67%, 45%);
    --b: hsl(183, 100%, 15%);
    --c: hsl(186, 14%, 43%);
    --d: hsl(184, 14%, 56%);
    --e: hsl(185, 41%, 84%);
    --f: hsl(189, 41%, 97%);
    --g: hsl(0, 0%, 100%);
}

/* Mobile */
@media screen and (max-width: 920px) { 
    .container {
        grid-template-rows: 1fr 1fr;
        border-radius: 25px 25px 0 0;
        min-height: 789px;
        min-width: 375px;
        width: 100%;
    }
    .input .tip .buttons {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
    }
    .input .bill,
    .input .tip,
    .input .people {
        gap: 6px;
    }
    .output .wrapper {
        justify-content: space-between;
    }
    .output .wrapper .right {
        font-size: 1.333rem;
        line-height: 1.958rem;
        letter-spacing: -0.028rem;
    }
}

/* Desktop */
@media screen and (min-width: 920px) { 
    .container {
        grid-template-columns: 1fr 1fr;
        gap: 48px;
        border-radius: 25px;
        max-width: 920px;
        min-height: 481px;
    }
    .input .tip .buttons {
        grid-template-columns: repeat(3, minmax(0,1fr));
        grid-template-rows: repeat(2, 1fr);
        gap: 16px;
    }
    .output .wrapper {
        justify-content: flex-start;
        gap: 25px;
    }
    .output .wrapper button {
        margin-top: auto;
    }
    .output .wrapper .right {
        font-size: 2rem;
        line-height: 2.958rem;
        letter-spacing: -0.042rem;
    }
}

body {
    font-family: 'Space Mono', monospace;
    background-color: var(--e);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    padding: 50px 0 40px 0;
}

.container {
    display: grid;
    background-color: var(--g);
    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
    padding: 32px;
}

.input {
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input .bill,
.input .tip,
.input .people {
    color: var(--c);
    font-size: 0.667rem;
    display: flex;
    flex-direction: column;
}

.input .bill input {
    font-family: 'Space Mono', monospace;
    background-color: var(--f);
    font-size: 1rem;
    line-height: 1.5rem;
    background-image: url("./images/icon-dollar.svg");
    background-repeat: no-repeat;
    background-position: 19px;
    border: none;
    text-align: right;
    padding-right: 17.5px;
    cursor: pointer;
}

.input .tip {
    display: flex;
    flex-direction: column;
}

.input .tip .buttons {
    display: grid;
}

.input .tip .buttons button {
    border-radius: 5px;
    padding: 6px 0 6px 0;
    border: none;
    font-size: 1rem;
    font-family: 'Space Mono', monospace;
    cursor: pointer;
}

.input .tip .buttons button:hover {
    background-color: #9FE8DF;
}

.input .tip .buttons .selected {
    background-color: var(--a);
    color: var(--b);
}

.input .tip .buttons .unselected {
    background-color: var(--b);
    color: var(--g);
}


.input .tip .buttons input {
    font-family: 'Space Mono', monospace;
    text-align: right;
    color: var(--c);
    background-color: var(--f);
    border-radius: 5px;
    border: none;
    padding: 6px 17px 6px 0;
    font-size: 1rem;
    cursor: pointer;
}


.input .people {
    display: flex;
    flex-direction: column;
}

.input .people input {
    font-family: 'Space Mono', monospace;
    background-color: var(--f);
    font-size: 1rem;
    line-height: 1.5rem;
    background-image: url("./images/icon-person.svg");
    background-repeat: no-repeat;
    background-position: 19px;
    border: none;
    text-align: right;
    padding-right: 17.5px;
    cursor: pointer;
}

.input .people .peoplenumber {
    display: flex;
    justify-content: space-between;
}

.input .people .peoplenumber .errormessage {
    display: none;
    font-size: 16px;
    line-height: 24px;
    color: #E17457;
}

.output {
    background-color: var(--b);
    border-radius: 15px;
    padding: 37px 22px 32px 24px;
}

.output .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.output .wrapper .split, 
.output .wrapper .total {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.output .wrapper .split .left, 
.output .wrapper .total .left {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: 'Space Mono';

}

.output .wrapper .left .large {
    color: var(--g);
    font-size: 0.667rem;
    line-height: 1rem;
}

    .output .wrapper .left .small {
    font-size: 0.542rem;
    line-height: 0.792rem;
    color: var(--d);
}

.output .wrapper .right {
    display: flex;
    justify-content: flex-end;
    font-family: 'Space Mono', monospace;
    color: var(--a);
}

.output .wrapper button {

    border-radius: 5px;
    border: none;
    font-size: 0.833rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    font-family: 'Space Mono', monospace;
    padding: 9px 0 9px 0;
    cursor: pointer;
}

.output .wrapper .activeBtn {
    background: var(--a);
    color: var(--b);
}

.output .wrapper .activeBtn:hover {
    background-color: #9FE8DF;
}

.output .wrapper .inactiveBtn {
    background: #0D686D;
    color: #00474B;
}



footer {
    font-size: 0.458rem; 
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%)
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance: textfield;
}

.noBorder {
    border: none !important;
}

.greenBorder {
    border: 1px solid green !important;
}

.redBorder {
    border: 1px solid red !important;
}

