* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: red solid 1px; */
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf')
}

body {
    min-height: 100vh;
    margin: 16px;
    background-color: #F9FAFD;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 730px;
    min-width: 343px;
    background: #FFF;
    box-shadow: 0px 20px 60px rgba(73, 97, 168, 0.05);
    border-radius: 15px;
    padding: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

header h1 {
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #1C202B;
}

header #notifications {
    color: #FFF;
    background: #0A327B;
    border-radius: 6px;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    padding: 4px 11px 4px 11px;
    margin-left: 9px;
}

header #markasread {
    color: #5E6778;
    cursor: pointer;
}

section {
    display: flex;
    color: #5E6778;
    border-radius: 8px;
    padding: 16px;
    gap: 13px;
    line-height: 18px;
}

.read {
    background: #FFF;
}

.unread {
    background: #F7FAFD;
}

section a {
    color: #5E6778;
    font-weight: 700;
    text-decoration: none;
}

section img {
    width: 39px;
    height: 39px;
}

section .card {
    display: flex;
    flex-direction: column;
}

section .name {
    font-weight: 800;
    color: #1C202B;
}

section .timestamp {
    color: #939CAD;
}

section .private-message {
    border: 1px solid #DDE7EE;
    border-radius: 5px;
    padding: 16px;
    margin-top: 12px;
    cursor: pointer;
}

section .private-message:hover {
    background: #E5EFFA;
}

section .dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    background: #F65552;
    border-radius: 50%;
    margin-left: 6px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }