@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #D5E1EF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

main {
    width: 320px;
    height: 497px;
    background: #FFFFFF;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img {
    height: 288px;
    width: 288px;
    padding: 16px;
    border-radius: 10px;
}

main div {
    padding: 8px 0 40px 0;
    width: 288px;
    height: 100%;
}

main h1 {
    font-family: 'Outfit';
    font-style: normal;
    font-size: 22px;
    color: #1F314F;
    text-align: center;
    font-weight: 700;
    line-height: 28px;
}

main p {
    font-family: 'Outfit';
    font-style: normal;
    font-size: 15px;
    color: #7D889E; 
    padding: 16px;
    text-align: center;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.1875px;
}

footer { 
    font-size: 11px; 
    position: absolute;
    margin-top: calc(100vh - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a { 
    color: hsl(228, 45%, 44%); 
}