/* 
- Mobile: 375px
- Desktop: 1440px 

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700

*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    /* outline: red solid .5px; */
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--Lightgray);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
}

.card {
    background-color: var(--White);
    min-width: 100px;
    max-width: 500px;
    padding: 15px;
    border-radius: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.card img {
    width: 100%;
    border-radius: 2.5%;
}

h2 {
    font-weight: 700;
}

p {
    color: var(--Grayishblue);
    font-size: 15px;
}

.attribution { 
    margin-top: 5px;
    font-size: 11px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}