@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: red solid 1px; */
}

:root {
    font-size: 15px;
    --light-a: #0079FF;
    --light-b: #697C9A;
    --light-c: #4B6A9B;
    --light-d: #2B3442;
    --light-e: #F6F8FF;
    --light-f: #FEFEFE;
    --dark-a: #0079FF;
    --dark-b: #FEFEFE;
    --dark-c: #141D2F;
    --dark-d: #1E2A47;
}

/* Desktop & Tablet*/
@media only screen and (min-width: 400px) {
    .userlink ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr
    }
  }

  @media only screen and (max-width: 399px) {
    .userpic {
        display: none;
    }
    .userhead, .userdesc, .userstat, .userlink {
        grid-column-start: 1;
        grid-column-end: 3;
    }    
  }


body {
    line-height: 1.667rem;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    background-color: var(--light-e);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container { 
    display: grid;
    grid-template-rows: 38px minmax(60px, 69px) auto;
    margin: 24px;
    min-width: 327px;
    min-height: 667px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.header h1 {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    color: #222731;
}

.header #toggledark, .header #togglelight {
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 2.5px;
    color: var(--light-c);
    text-transform: uppercase;
    padding-right: 32px;

}

.header #toggledark {
    background: url(./assets/icon-moon.svg) no-repeat center right;
}

.header #togglelight {
    background: url(./assets/icon-sun.svg) no-repeat center right;
}

.header .hidden {
    display: none;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-f);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
    padding: 7px;
    margin-bottom: 17.5px;
}

.search input {
    width: 100%;
    height: 100%;
    border: none;
    background: url(./assets/icon-search.svg) no-repeat left center;
    padding-left: 45px;
    line-height: 25px;
    font-size: 13px;
    font-family: 'Space Mono', monospace;
}

.search button {
    background-color: var(--light-a);
    color: #FFF;
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    padding: 12.5px;
    border-radius: 10px;
    border: none;
}

.main {
    background-color: var(--light-f);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
    padding: 24px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
}

.userhead {
    display: flex;
}

.userinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 41px;
}

.userinfo h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #2B3442;
}

.userinfo h3 {
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #0079FF;
}

.userinfo h4 {
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #697C9A;
}

.userdesc {
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    color: #4B6A9B;
}

.userstats {
    background-color: var(--light-e);
    padding: 18px 15px 18px 15px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    color: #4B6A9B;
}

.userstats > * {
    display: flex;
    flex-direction: column;
}

.userstats > * > span {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #2B3442;
}

.userlink {
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #4B6A9B;
    padding-left: 24px;
}

.userlink li {
    padding-left: 13px;
    padding-bottom: 8px;
}

.userlink .nolink {
    mix-blend-mode: normal;
    opacity: 0.5;
}

.userlink #location {
    list-style-image: url(./assets/icon-location.svg);
}

.userlink #website {
    list-style-image: url(./assets/icon-website.svg);
}

.userlink #twitter {
    list-style-image: url(./assets/icon-twitter.svg);
}

.userlink #company {
    list-style-image: url(./assets/icon-company.svg);
}