* {
    margin: 0;
    padding: 0;
    outline: solid red 1px;
}

body {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-area: 2/2;
    grid-template-rows: 1fr 1fr;
}

.lower {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lower .left {

}

.lower .right {

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }